* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.brightness-controller {
  background-image: url("https://images.unsplash.com/photo-1687248408868-761bfe297b81?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  transition: filter 0.2s ease;
}

nav i {
  font-size: 19px;
}
nav h4 {
  font-size: 13.5px;
  font-weight: 500;
}
nav .r-nav i,
nav .r-nav img {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

#sunlogo {
  position: absolute;
  left: 0;
  color: black;
  font-size: 13px;
}

.control-center {
  display: none;
  z-index: 100000000000;
  grid-template-areas: "bc bc f f" "bc bc sm smr" "bb bb bb bb" "sb sb sb sb";
}
.control-center .common-box {
  border-radius: 8px;
  background-color: #222429;
  border: 0.5px solid #404246;
  box-shadow: 1px 1px #000;
}
.control-center .basic-control {
  grid-area: bc;
  height: 170px;
}
.control-center .focus {
  grid-area: f;
  width: 160px;
  height: 80px;
}
.control-center .stage-manager {
  grid-area: sm;
  height: 80px;
}
.control-center .screen-mirror {
  grid-area: smr;
  height: 80px;
}
.control-center .brightness-bar {
  grid-area: bb;
}
.control-center .sound-bar {
  grid-area: sb;
}
.control-center .round {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  background-color: #414249;
  border-radius: 50%;
}
.control-center .round i {
  font-size: 16px;
  color: #fff;
}

.common-sec {
  display: flex;
  height: 28px;
  padding-left: 4px;
  align-items: center;
  gap: 0.3vw;
  border-radius: 4px;
}
.common-sec i {
  color: #008fff;
  font-size: 1.2vw;
}
.common-sec h4 {
  font-size: 0.9vw;
}
.common-sec img {
  height: 18px;
}
.common-sec #desk {
  height: 16px;
}
.common-sec:hover {
  background-color: #797979;
}

.finder-app {
  background-color: rgba(28, 28, 28, 0.9568627451);
}
.finder-app .left {
  background-color: rgba(70, 70, 74, 0.4549019608);
}
.finder-app .right .navigation i {
  font-size: 1.3vw;
  color: #a6a6a6;
}
.finder-app .right .navigation #filename {
  font-size: 1vw;
  font-weight: 500;
}
.finder-app .right .finder-workarea {
  height: 100%;
  width: 100%;
  padding: 1vw;
}

.hov {
  transition: transform 0.3s ease;
}

.hov:hover {
  transform: scale(1.35);
  z-index: 10;
}

.dock {
  transition: opacity 0.4s ease;
}

.right-click-window h4 {
  font-size: 0.9vw;
  padding: 0.3vw 0.8vw;
  border-radius: 3px;
  cursor: default;
}
.right-click-window h4:hover {
  background-color: #1d79e5;
}

.folder {
  cursor: grab;
  z-index: 50;
}

.brightness input {
  -webkit-appearance: none;
  background: transparent;
}
.brightness input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
  cursor: pointer;
}
.brightness progress::-webkit-progress-bar {
  background-color: #414346;
}
.brightness progress::-webkit-progress-value {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}

.sound input {
  -webkit-appearance: none;
  background: transparent;
}
.sound input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
  cursor: pointer;
}
.sound progress::-webkit-progress-bar {
  background-color: #414346;
}
.sound progress::-webkit-progress-value {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}

.workarea img {
  height: 9vw;
  width: 14vw;
}

.Photos i {
  font-size: 1.1vw;
  line-height: 1.1vw;
}

.code-app i {
  color: #7c8590;
  font-size: 1.2vw;
}
.code-app .c-search {
  color: #7c8590;
}
.code-app .c-search i {
  font-size: 0.9vw;
  transform: scaleX(-1);
}
.code-app .c-search h5 {
  font-size: 0.8vw;
  font-weight: 300;
}
.code-app .c-lnav img {
  height: 1.7vw;
  opacity: 0.7;
}
.code-app .c-lnav img:hover {
  opacity: 1;
}
.code-app .c-down-nav {
  color: #7c8590;
}
.code-app .c-down-nav img {
  height: 1vw;
  opacity: 0.7;
}
.code-app .c-down-nav h6 {
  font-size: 0.89vw;
}
.code-app .c-down-nav #live {
  height: 1.1vw;
}

.camera-capture-in-big-screen {
  height: 5vw;
  width: 25vw;
  border-radius: 1.5vw;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.camera-capture-in-big-screen div {
  height: 4vw;
  width: 4vw;
}
.camera-capture-in-big-screen div i {
  font-size: 2.3vw;
}

.small-gallery {
  cursor: pointer;
  height: 11.5vw;
  width: 11vw;
  position: relative;
}
.small-gallery:hover img,
.small-gallery:hover h6 {
  scale: 105%;
}
.small-gallery img {
  height: 8.5vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.small-gallery h6 {
  font-size: 0.9vw;
  margin-top: 0.3vw;
  color: #f0f0f0;
  text-align: center;
  transition: all 0.3s ease;
}

.big-gallery {
  cursor: pointer;
  height: 18vw;
  width: 20vw;
  position: relative;
}
.big-gallery:hover img h6 {
  scale: 105%;
}
.big-gallery img {
  height: 15vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.big-gallery h6 {
  font-size: 1vw;
  margin-top: 0.5vw;
  color: #f0f0f0;
  text-align: center;
  transition: all 0.3s ease;
}

.finder-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
}

.finder-recent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1vw;
}/*# sourceMappingURL=style.css.map */